<ion-grid class="fakeBody">
  <ion-row>
    <ion-col size="12">
      <ion-item class="select" color="dark">
        <ion-label>Role Selection</ion-label>
        <ion-select multiple="true" placeholder="Select Role">
          <ion-select-option value="Tank">Tank</ion-select-option>
          <ion-select-option value="DPS">DPS</ion-select-option>
          <ion-select-option value="Healer">Healer</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="select" color="dark">
        <ion-label>IP Level</ion-label>
        <ion-select multiple="true" placeholder="Select IP Level">
          <ion-select-option value="7to900">700 - 900 IP</ion-select-option>
          <ion-select-option value="900to1200">900 - 1200 IP</ion-select-option>
          <ion-select-option value="1200to+">1200 + IP</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <div class="ion-text-end">
    <ion-button
      href="#"
      fill="transparent"
      size="default"
      color="dark"
      (click)="onClearPad()"
      >Home</ion-button
    >
    <ion-button
      href="#"
      fill="transparent"
      size="default"
      color="danger"
      (click)="onCancel()"
      >About</ion-button
    >
    <ion-button
      href="#"
      fill="transparent"
      size="default"
      color="primary"
      (click)="onSavePad()"
      >Log-In</ion-button
    >
  </div>

  <ion-row class="row">
    <ion-col size="auto">
      <div class="card">
        <div class="front">
          <img class="img" src="assets/cards/1.png" />
          <div class="contents">
            <h2 class="title">HELLGATES</h2>
          </div>
        </div>
        <div class="back">
          <div class="contents"></div>
        </div>
      </div>
    </ion-col>
    <ion-col size="auto">
      <div class="card">
        <div class="front">
          <img class="img" src="assets/cards/2.png" />
          <div class="contents">
            <h2 class="title">GROUP DUNGEONS</h2>
          </div>
        </div>
        <div class="back">
          <div class="contents"></div>
        </div>
      </div>
    </ion-col>
    <ion-col size="auto">
      <div class="card">
        <div class="front">
          <img class="img" src="assets/cards/3.png" />
          <div class="contents">
            <h2 class="title">ARENA</h2>
          </div>
        </div>
        <div class="back">
          <div class="contents"></div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
