<ion-grid class="fakeBody">
  <ion-row class="row">
    <ion-col size="auto">
      <div class="card">
        <div class="front">
          <img
            class="img"
            src="https://images.unsplash.com/photo-1555949963-aa79dcee981c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
          />
          <div class="contents">
            <h2 class="title">HELLGATES</h2>
          </div>
        </div>
        <div class="back">
          <div class="contents">
            <h3 class="subtitle">Say hello</h3>
            <ul class="socials">
              <li>
                <a target="_blank" href="https://www.facebook.com/paoloduzioni">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://twitter.com/PaoloDuzioni">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.instagram.com/paoloduzionidev/"
                >
                  <i class="fab fa-instagram-square"></i>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/paolo-duzioni-a3162716a/"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size="auto">
      <div class="card">
        <div class="front">
          <img
            class="img"
            src="https://images.unsplash.com/photo-1555949963-aa79dcee981c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
          />
          <div class="contents">
            <h2 class="title">GROUP DUNGEONS</h2>
          </div>
        </div>
        <div class="back">
          <div class="contents">
            <h3 class="subtitle">Say hello</h3>
            <ul class="socials">
              <li>
                <a target="_blank" href="https://www.facebook.com/paoloduzioni">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://twitter.com/PaoloDuzioni">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.instagram.com/paoloduzionidev/"
                >
                  <i class="fab fa-instagram-square"></i>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/paolo-duzioni-a3162716a/"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size="auto">
      <div class="card">
        <div class="front">
          <img
            class="img"
            src="https://images.unsplash.com/photo-1555949963-aa79dcee981c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
          />
          <div class="contents">
            <h2 class="title">ARENA</h2>
          </div>
        </div>
        <div class="back">
          <div class="contents">
            <h3 class="subtitle">Say hello</h3>
            <ul class="socials">
              <li>
                <a target="_blank" href="https://www.facebook.com/paoloduzioni">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://twitter.com/PaoloDuzioni">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.instagram.com/paoloduzionidev/"
                >
                  <i class="fab fa-instagram-square"></i>
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/paolo-duzioni-a3162716a/"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
